<script>
jQuery(document).ready(function() {
Metronic.init(); // init metronic core componets
Layout.init(); // init layout
Demo.init(); // init demo features
Index.init(); // init index page
Tasks.initDashboardWidget(); // init tash dashboard widget
});
</script>
<div class="page-sidebar-wrapper">
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="300">
			<li>
				<a href="/administrator">
					<i class="icon-home"></i>
					<span class="title">Главная</span>
				</a>
			</li>
				
				<li>
					<a href="/administrator/projects">
						<i class="icon-home"></i>
						<span class="title">Проекты</span>
					</a>
				</li>
				
				<li>
					<a href="/administrator/project_categories">
						<i class="icon-home"></i>
						<span class="title">Города</span>
					</a>
				</li>

				<li>
				<a href="javascript:;">
					<i class="icon-doc"></i>
					<span class="title">Страницы</span>
					<span class="arrow "></span>
				</a>
				<ul class="sub-menu">
					<li>
						<a href="/administrator/static_pages">
						Статические</a>
					</li>
					<li>
						<a href="/administrator/dynamic_project_pages">
						Динамические</a>
					</li>			
				</ul>

				<li>
				<a href="javascript:;">
					<i class="icon-doc"></i>
					<span class="title">Записи</span>
					<span class="arrow "></span>
				</a>
				<ul class="sub-menu">
					<li>
						<a href="/administrator/post_categories">
						Категории записей</a>
					</li>
					<li>
						<a href="/administrator/posts">
						Записи</a>
					</li>			
				</ul>
				
				<li>
					<a href="/administrator/project_application_mails">
						<i class="icon-home"></i>
						<span class="title">Заявки</span>
					</a>
				</li>
				
				<li>
					<a href="/administrator/questions">
						<i class="icon-home"></i>
						<span class="title">Вопросы</span>
					</a>
				</li>

				<li>
					<a href="/administrator/reviews">
						<i class="icon-home"></i>
						<span class="title">Отзывы</span>
					</a>
				</li>

				<li>
					<a href="/administrator/sliders">
						<i class="icon-home"></i>
						<span class="title">Слайдеры</span>
					</a>
				</li>

				<li>
					<a href="/administrator/questions">
						<i class="icon-home"></i>
						<span class="title">SEO</span>
					</a>
				</li>

				<li>
					<a href="/questions">
						<i class="icon-home"></i>
						<span class="title">Настройки</span>
					</a>
				</li>
				
			</ul>
			
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>