<script>
jQuery(document).ready(function() {
Metronic.init(); // init metronic core componets
Layout.init(); // init layout
Demo.init(); // init demo features
Index.init(); // init index page
Tasks.initDashboardWidget(); // init tash dashboard widget
});
</script>
<div class="page-sidebar-wrapper">
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="300">
			<li>
				<a href="/administrator">
					<i class="fa fa-gears"></i>
					<span class="title">Главная</span>
				</a>
			</li>
				
				<li>
					<a href="/administrator/projects">
						<i class="fa fa-folder"></i>
						<span class="title">Проекты</span>
					</a>
				</li>
				
				<li>
					<a href="/administrator/project_categories">
						<i class="fa  fa-institution"></i>
						<span class="title">Города</span>
					</a>
				</li>

				

				<li>
					<a href="/administrator/static_pages">
						<i class="fa fa-database"></i>
						<span class="title">Статические страницы</span>
					</a>
				</li>

				<li>
					<a href="/administrator/dynamic_project_pages">
						<i class="fa fa-codepen"></i>
						<span class="title">Динамические страницы</span>
					</a>
				</li>

				
				<li>
					<a href="/administrator/posts">
						<i class="fa fa-edit"></i>
						<span class="title">Записи</span>
					</a>
				</li>
				<li>
					<a href="/administrator/project_application_mails">
						<i class="fa fa-inbox"></i>
						<span class="title">Заявки</span>
					</a>
				</li>
				
				<li>
					<a href="/administrator/questions">
						<i class="fa fa-mortar-board"></i>
						<span class="title">Вопросы</span>
					</a>
				</li>

				<li>
					<a href="/administrator/reviews">
						<i class="fa fa-pencil"></i>
						<span class="title">Отзывы</span>
					</a>
				</li>

				<li>
					<a href="/administrator/managers">
						<i class="fa fa-group"></i>
						<span class="title">Сотрудники</span>
					</a>
				</li>


				<li>
					<a href="/administrator/events">
						<i class="fa fa-paper-plane-o"></i>
						<span class="title">Выставки</span>
					</a>
				</li>

				<li>
					<a href="/administrator/site_variables">
						<i class="fa  fa-slack"></i>
						<span class="title">Блоки</span>
					</a>
				</li>

				<li>
					<a href="/administrator/sliders">
						<i class="fa fa-sliders"></i>
						<span class="title">Слайдеры</span>
					</a>
				</li>

				<li>
					<a href="/administrator/banners">
						<i class="fa fa-bars"></i>
						<span class="title">Баннеры</span>
					</a>
				</li>

				<li>
					<a href="/administrator/menus">
						<i class="fa  fa-code-fork"></i>
						<span class="title">Меню</span>
					</a>
				</li>


				
			</ul>
			
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>