<body>
  <p></p>
  <table>
    <tr>
      <td>Имя</td>
      <td><%= @mail_info.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @mail_info.email %></td>
    </tr>
    <tr>
      <td>Проект</td>
      <td><%= @project.name %>(id: <%= @project.sku %>)</td>
    </tr>
  </table>
<p>Прошу отправить дополнительную информацию по данному проекту</p>

</body>