<style type="text/css">
	.margin-top-10{
		padding: 0 20px;
	}
	.tile-object a{
	
		color: white;
	}


</style>
<div class="page-content-wrapper">
	<div class="page-content">
		<!-- END PAGE BREADCRUMB -->
		<!-- END PAGE HEADER-->
		<!-- BEGIN PAGE CONTENT-->
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box blue-madison">
					<div class="portlet-title">
						<div class="caption">
							Главная
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-toolbar">
							<div class="row">
								<div class="col-md-6">
								</div>
							</div>
						</div>
						
						<div class="tiles">
							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-folder"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/projects/">
											Проекты
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-institution"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/project_categories/">
											Города
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-file-photo-o"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/static_pages/">
											Cтраницы
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>


							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa  fa-share-alt-square"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/post_categories/">
											Кат. записей
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-edit"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/posts/">
											Записи
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-inbox"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/project_application_mails/">
											Заявки
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-mortar-board"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/questions/">
											Вопросы
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>
							
							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-pencil"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/reviews/">
											Отзывы
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-group"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/managers/">
											Сотрудники
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-trophy"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/events/">
											Выставки
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-reorder"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/sliders/">
											Слайдеры
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa  fa-qrcode"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/banners/">
											Баннеры
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa fa-navicon"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/site_variables/">
											Блоки
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							<div class="tile bg-blue-madison">
								
								<div class="tile-body">
									<i class="fa  fa-sliders"></i>
								</div>
								<div class="tile-object">
									<div class="name">
										<a href="/administrator/menus/">
											Меню
										</a>
									</div>
									<div class="number">
									</div>
									
								</div>
							</div>

							

						</div>
						<ul>
							<li><a href="/import_projects">Импортировать проекты</a></li>
							<li><a href="/import_articles">Импортировать записи</a></li>
							<li><a href="/delete_import_projects">Удалить проекты</a></li>
							<li><a href="/delete_import_articles">Удалить записи</a></li>
						</ul>

						<div class="panel-group accordion scrollable" id="accordion2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1">
										Рекомендуемые размеры изображений</a>
										</h4>
									</div>
									<div id="collapse_2_1" class="panel-collapse in">
										<div class="panel-body">
											<p>
												 Для увеличения времени загрузки сайта все изображения будут автоматически измены до указанных
											</p>
											<p>
												Проект: аватар миниатюра -- 213 х 130, полноразмерное изображение -- 450 х 250
											</p>
											<p>
												Слайд: полноразмерное изображение -- 450 х 200
											</p>
											<p>
												Страница города: аватар миниатюра -- 100 х 100, полноразмерное изображение -- 450 х 200
											</p>
											<p>
												Страница сотрудника: аватар миниатюра -- 150 х 200
											</p>

											<p>
												Страница выставки: аватар миниатюра -- 213 х 13, полноразмерное изображение -- 450 х 200

											</p>

											<p>
												Пост: аватар миниатюра -- 100 х 100

											</p>

											<p>
												Баннер: полноразмерное изображение -- 250 х 200
											</p>

										</div>
									</div>
								</div>
								
							</div>

					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT -->
		</div>
	</div>