<%= render '/layouts/basic_styles.html.erb' %>

<div class="buy_page reviews">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
      
    <div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox"  hidden>
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Уведомление </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <p>Ваш запрос отправлен</p>
      </div>
    
        </div>
      </div>
    </div>



    <div class="project_heading">
      <h1 class="h1">Отзывы покупателей недвижимости в Турциии</h1>
    </div>

    <div class="form_question review_form">
<div class="heading">
  <span>Оставьте свой отзыв</span>
</div>
  <form action="zz">

    <div class="fields_left">
      <div class="form_group">
        <label >Email</label>
        <input type="text" >
      </div>
    </div>
    <div class="fields_right">
      <div class="form_group">
        <label >Имя</label>
        <input type="text" >
      </div>
    </div>
    <div class="msg">
        <label > Сообщение</label>
        <input type="text-area" >
    </div>
    <div class="button">
        <input type="submit" class="sub" value="Отправить" >
    </div>
  </form>
</div>

    <div class="reviews_list">
      <ul>
        <li>
          <span class="heading">Марина</span>
          <span class="content">
            <p>Лучшая недвижимость в Турции - от "Алания Пропертиз"
                В нашем каталоге более 200 объектов недвижимости на побережье Средиземного
                и Эгейского морей. </p>
                <p>У нас собраны лучшие предложения по недвижимости, расположенной в таких
                известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья,
                Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры,престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и
                дома.</p>
          </span>
        </li>
        <li>
          <span class="heading">Марина</span>
          <span class="content">
            <p>Лучшая недвижимость в Турции - от "Алания Пропертиз"
                В нашем каталоге более 200 объектов недвижимости на побережье Средиземного
                и Эгейского морей. </p>
                <p>У нас собраны лучшие предложения по недвижимости, расположенной в таких
                известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья,
                Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры,престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и
                дома.</p>
          </span>
        </li>
        <li>
          <span class="heading">Марина</span>
          <span class="content">
            <p>Лучшая недвижимость в Турции - от "Алания Пропертиз"
                В нашем каталоге более 200 объектов недвижимости на побережье Средиземного
                и Эгейского морей. </p>
                <p>У нас собраны лучшие предложения по недвижимости, расположенной в таких
                известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья,
                Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры,престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и
                дома.</p>
          </span>
        </li>
        <li>
          <span class="heading">Марина</span>
          <span class="content">
            <p>Лучшая недвижимость в Турции - от "Алания Пропертиз"
                В нашем каталоге более 200 объектов недвижимости на побережье Средиземного
                и Эгейского морей. </p>
                <p>У нас собраны лучшие предложения по недвижимости, расположенной в таких
                известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья,
                Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры,престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и
                дома.</p>
          </span>
        </li>
      </ul>
    </div>

  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>