<style type="text/css">
.project_heading{
background-color: #00CCCA;
padding: 6px;
border-radius: 5px 5px 0 0;
border-bottom: 1px solid #e1e1e1 !important;
}
.project_heading .h1{
font-size: 17px !important;
padding-left: 10px;

}
.buy_item{
border: none;
padding: 0px;
width: 730px;
}
.buy_filter{
  width: 200px;
}
.buy_item_text{
  padding-left: 20px !important;
  width: 480px;
}
.buy_item .item_price{
min-width: 0;
border:  0;
font-size: 17px !important;
}
.buy_item_photos{
  max-width: 462px !important;
  padding-top: 20px;
  margin: 0px !important;
}
.fotorama{
  max-width: 470px !important;
}
.fotorama img {
  height: 250px;
  width: 470px;
}
.description_project{
  padding-top: 10px; 
}
.price_area{
  color: #44C4E4;
  font-size: 17px;
  padding-bottom: 5px;
}
.buy_item_info{
  padding-left: 10px;
  width: 225px !important;
}
.project_info .line{
  line-height: 19px;
  color: #6d6e70;
  font-size: 10px;
  padding-top: 3px;
}
.project_info .line .value{
  float: right !important;
}
.project_info{
  margin-right: 20px;
}

.line .type{
  padding-left: 4px;
}

.line .value{
  padding-right: 4px;
}
.buy_item_text .buttons{
  margin: 10px 0;
}
.buy_item_text .buttons a{
  font-size: 15px;
  background-color: #00CCCA;
    font-size: 13px;
    line-height: 14px;
    padding: 8px 10px;
    margin-right: 15px;
    color: #4d4d4d;
}
.manager_list{
  float: right;
  width: 290px
}
.manager_list .list .avatar{
  width: 40%;
}
.manager_list img{
  height: 200px !important;
  width: 120px !important;
}
.description_project{
  width: 400px;
  padding-left: 20px;
  float: left;
  padding-top: 0;
  font-size: 15px;
}
.bg_dark{
  background-color: #CCCCCC;
}
.bg_light{
  background-color: #EDEDED ;
}
.to_coast{
  margin-top: 10px;
}
.to_coast_list .line{
  padding-left: 20px;
}
.credit_input{
  width: 100%;
}
.credit{
  margin-top: 10px; 
}
</style>
<div class="buy_page">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>
  <div class="buy_item">
    <div class="project_heading">
      <div class="item_price">id: 12345</div>
      <h1 class="h1">Название проекта </h1>
    </div>
    <div class="buy_item_text">

      <div class="buy_item_photos clearfix">
        <div class="fotorama">
          <img src="http://dummyimage.com/600x399/333/fff" />
         <img src="http://dummyimage.com/600x399/333/fff" />
         <img src="http://dummyimage.com/600x399/333/fff" />
         <img src="http://dummyimage.com/600x399/333/fff" />
        </div>
      </div>
      
      <div class="buttons">
      <a class="btn big green_btn more_btn" href="#">Узнать больше</a>
      <a class="btn big green_btn view_btn" href="#">Посмотреть</a>
      </div>
     
      <div class="clear"></div>
    </div>

    <div class="buy_item_info">
      <div class="price_area">
        <span>цена: 2000$ - 4000$</span>
      </div>
      <div class="project_info">
        <div class="line bg_dark"><span class="type">Вид сделки:</span>  <span class="value"> Продажа</span></div>
        <div class="line bg_light"><span class="type">Район:</span>  <span class="value"> Макмутлар</span></div>
        <div class="line bg_dark"><span class="type">Тип объекта:</span>  <span class="value"> квартира и пентхаус</span></div>
        <div class="line bg_light"><span class="type">Площадь:</span>  <span class="value"> 216 м2</span></div>
        <div class="line bg_dark"><span class="type">Состояние:</span>  <span class="value"> строящийся объект</span></div>
        <div class="line bg_light"><span class="type">До центра:</span>  <span class="value"> 200 м</span></div>
        <div class="line bg_dark"><span class="type">До аэропорта:</span>  <span class="value"> 100 м</span></div>
        <div class="line bg_light"><span class="type">Год постройки:</span>  <span class="value"> 08.2015</span></div>
      </div>
      <div class="price_area to_coast">
        <span>в стоимость входит</span>
      </div>
      <div class="project_info to_coast_list">
        <div class="line bg_dark">Кондиционеры</div>
        <div class="line bg_dark">Водонагреватели</div>
        <div class="line bg_dark">Оформление ТАПУ</div>
      </div>

      <div class="project_info credit">
        <form>
          <span class="field">Пероначальный взнос</span><br/>
          <input type="text" class="credit_input"><br/>
          <span class="field">Срок кредита</span><br/>
          <input type="text"><br/>
          <span class="field">Процентная ставка</span><br/>
          <input type="text"><br/>
          <span class="field">Ежемесячный платеж</span><br/>
          <input type="text">
        </form>
      </div>
    </div>

    <div class="description_project">
        <%= @project.description.html_safe %>
      </div>

    
    
  </div>
  <div class="buy_filter">
    <form action="#"  method="GET">
      <%# render 'filter' %>
      <div class="filter_label_holder clearfix">
        <label class="filter_label label_checkbox">
          <input type="checkbox" value="1+1" name="property_type[]" id="property_type_">
          1+1
        </label>
        <label class="filter_label label_checkbox">
          <input type="checkbox" value="2+1" name="property_type[]" id="property_type_">
          2+1
        </label>
        <label class="filter_label label_checkbox">
          <input type="checkbox" value="3+1" name="property_type[]" id="property_type_">
          3+1
        </label>
        <label class="filter_label label_checkbox">
          <input type="checkbox" value="4+1" name="property_type[]" id="property_type_">
          4+1
        </label>
        <label class="filter_label label_checkbox big">
          <input type="checkbox" value="studio" name="property_type[]" id="property_type_">
          Студия
        </label>
        <label class="filter_label label_checkbox big">
          <input type="checkbox" value="penthouse" name="property_type[]" id="property_type_">
          Пентхауз
        </label>
        <label class="filter_label label_checkbox big">
          <input type="checkbox" value="villa" name="property_type[]" id="property_type_">
          Вилла
        </label>
      </div>
      <div class="filter_section city">
        <span class="btn btn_input big">ИСКАТЬ<i class="input"><input type="submit"/></i></span>
      </div>
    </form>
  </div>
  <div class="clear"></div>
  
</div>