<style type="text/css">
.project_heading{
background-color: #00aeac;
padding: 6px;
border-radius: 5px 5px 0 0;
border-bottom: 1px solid #e1e1e1 !important;
}
.project_heading .h1{
font-size: 17px !important;
padding-left: 10px;
}
.buy_item{
border: none;
padding: 0px;
width: 700px;
}
.buy_filter{
width: 230px;
margin-top: 25px;
}
.buy_item_text{
padding-left: 20px !important;
width: 430px;
}
.buy_item .item_price{
min-width: 0;
border:  0;
font-size: 17px !important;
}
.buy_item_photos{
max-width: 462px !important;
padding-top: 20px;
margin: 0px !important;
}
.fotorama{
max-width: 490px !important;
}
.fotorama img {
height: 250px;
width: 450px;
}
.description_project{
padding-top: 10px;
}
.price_area{
color: #44C4E4;
font-size: 17px;
padding-bottom: 5px;
}
.buy_item_info{

width: 210px !important;
}
.project_info .line{
line-height: 19px;
color: #333;
font-size: 10px;
padding-top: 3px;
 border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.project_info .line .value{
float: right !important;
}
.project_info{
margin-right: 20px;
}
.line .type{
padding-left: 8px;
}
.line .value{
padding-right: 5px;
}
.buy_item_text .buttons{
margin: 20px 0;
}
.buy_item_text .buttons a{
font-size: 15px;
background-color: #00aeac;
font-size: 13px;
line-height: 14px;
padding: 8px 10px;
margin-right: 15px;
color: #4d4d4d;
}
.description_project{
width: 400px;
padding-left: 20px;
float: left;
padding-top: 0;
font-size: 15px;
}
.bg_dark{
background-color: #EEEEEE;
}
.bg_light{
background-color: #FBFBFB;
}
.to_coast{
margin-top: 10px;
}
.to_coast_list .line{
padding-left: 10px;
}
.credit_input{
width: 100%;
}
.credit{
margin-top: 10px;
}
.distnce_list ul li{
  display: inline-table;
  margin: 0 -2px;

}

.to_coast_list div:nth-child(2n){
  background-color: #fbfbfb !important;
}

.to_coast_list div{
  color: #4d4d4d;
  font-size: 12px;
}

hr{
  color: black

}
.view_btn{
  height: 10px;
}
.buttons{
  margin-top: 20px;
}
.buttons .more{
   background: #00aeac none repeat scroll 0 0;
    padding: 8px 10px;
}

.project_params{
  border-bottom: 1px solid #e1e1e1; 
}
</style>



<div class="buy_page">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
    
    <div class="project_heading">
      <div class="item_price">id: 12345</div>
      <h1 class="h1">Название проекта </h1>
    </div>
    <div class="buy_item_text">
      <div class="buy_item_photos clearfix">
        <div class="fotorama">
          <img src="http://dummyimage.com/600x399/333/fff" />
          <img src="http://dummyimage.com/600x399/333/fff" />
          <img src="http://dummyimage.com/600x399/333/fff" />
          <img src="http://dummyimage.com/600x399/333/fff" />
        </div>
      </div>
      
      <div class="buttons" id='basic-modal'>
            
       <label class="more" for="modal-2">Узнать больше</label>
       <a href="#">Посмотреть</a>
      </div>
    
      <div class="clear"></div>
    </div>
    <div class="modal">
  <input class="modal-open" id="modal-2" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-2"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Форма в Модальное окно! :)</h2>
        <label class="btn-close" for="modal-2" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
          <form>
           <input name="name" placeholder="* Укажите ваше имя" class="textbox" required />
           <input name="emailaddress" placeholder="* Укажите ваш Email" class="textbox" type="email" required />
             <textarea rows="4" cols="50" name="subject" placeholder="* Введите ваше сообщение:" class="message" required></textarea>
              <input name="submit" class="btn btn-form" type="submit" value="Отправить" />
          </form>
      </div>
    </div>
  </div>
</div>

<div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox"  hidden>
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Заголовок </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <p>Здесь размещаете любое содержание...</p>
      </div>
  
    </div>
  </div>
</div>

    
    <div class="buy_item_info">
      <div class="price_area">
        <span>цена: 2000$ - 4000$</span>
      </div>
      <div class="project_info project_params">
        <div class="line bg_dark"><span class="type">Вид сделки:</span>  <span class="value"> Продажа</span></div>
        <div class="line bg_light"><span class="type">Район:</span>  <span class="value"> Макмутлар</span></div>
        <div class="line bg_dark"><span class="type">Тип объекта:</span>  <span class="value"> квартира и пентхаус</span></div>
        <div class="line bg_light"><span class="type">Площадь:</span>  <span class="value"> 216 м2</span></div>
        <div class="line bg_dark"><span class="type">Состояние:</span>  <span class="value"> строящийся объект</span></div>
        <div class="line bg_light"><span class="type">До центра:</span>  <span class="value"> 200 м</span></div>
        <div class="line bg_dark"><span class="type">До аэропорта:</span>  <span class="value"> 100 м</span></div>
        <div class="line bg_light"><span class="type">Год постройки:</span>  <span class="value"> 08.2015</span></div>
      </div>
      <div class="price_area to_coast">
        <span>в стоимость входит</span>
      </div>
      <div class="project_info to_coast_list">
        <div class="line bg_dark">Кондиционеры</div>
        <div class="line bg_dark">Водонагреватели</div>
        <div class="line bg_dark">Оформление ТАПУ</div>
        <div class="line bg_dark">Оформление ТАПУ</div>
        <div class="line bg_dark">Оформление ТАПУ</div>
      </div>
      <div class="project_info credit">
        <form action="#" method="post" id="calculator">

   <label>Первоначальный взнос: </label>
   <div class="input" id="cor5">
   <input name="first_pay" value="3000" id="posName" type="text" />
   </div>

   <label>Срок кредита, лет: </label>
   <div class="input" id="cor5">
   <input name="year" value="5" id="1" type="text" />
   </div>
   
   <label>Процентная ставка: </label>
   <div class="input" id="cor5">
   <input name="procent" value="10" type="text" />
   </div>

<label>Ежемесячный платеж: </label>
   <div class="input" id="cor5">
   <input name="platez" value=""  type="text" readonly/>
   </div>
<button type="button" class="credit_condirm" id="send4">посчитать</button>
</form>

      </div>


    </div>

    <div class="description_project">
      <%= @project.description.html_safe %>
      <div class="buttons_before_qus">
        <div class="share">
          Здесь код кнопок
        </div>
        <a class="print" href="#">Печать</a>
        <a class="send" href="#">Отправить по email</a>
      </div>
    </div>

 <div class="managers_list">
  <ul>
    <li>
      <div class="manager">
        <div class="photo">
          <img src="/test.png">
        </div>
        <div class="description">
          <span class="field name">Имя и фамилия</span>
          <span class="field post">Менеджер по продажам</span><br />
          <span class="field skype_man">Skype: skypename</span><br/>
          <span class="field languages">Языки: Русский</span><br/>
          <span class="field mail">12@mail.ru</span><br/>
          </div>
      </div>
    </li>
    <li>
      <div class="manager">
        <div class="photo">
          <img src="/test.png">
        </div>
        <div class="description">
          <span class="field name">Имя и фамилия</span><br/>
          <span class="field post">Менеджер по продажам</span><br />
          <span class="field skype_man">Skype: skypename</span><br/>
          <span class="field languages">Языки: Русский</span><br/>
          <span class="field mail">12@mail.ru</span><br/>
          </div>
      </div>
    </li>
    <li>
      <div class="manager">
        <div class="photo">
          <img src="/test.png">
        </div>
        <div class="description">
          <span class="field name">Имя и фамилия</span><br/>
          <span class="field post">Менеджер по продажам</span><br/>
          <span class="field skype_man">Skype: skypename</span><br/>
          <span class="field languages">Языки: Русский</span><br/>
          <span class="field mail">12@mail.ru</span><br/>
          </div>
      </div>
    </li>
  </ul>
</div>


<div class="form_question">
<div class="heading">
  <span>Задайте свой вопрос</span>
</div>
  <form action="zz">

    <div class="fields_left">
      <div class="form_group">
        <label > Имя</label>
        <input type="text" >
      </div>
      <div class="form_group">
        <label > Телефон</label>
        <input type="text" >
      </div>
    </div>
    <div class="fields_right">
      <div class="form_group">
        <label > Email</label>
        <input type="text" >
      </div>
      <div class="form_group">
        <label > Skype</label>
        <input type="text" >
      </div>
    </div>
    <div class="msg">
        <label > Сообщение</label>
        <input type="text-area" >
    </div>
    <div class="button">
        <input type="submit" class="sub" value="Отправить" >
    </div>
  </form>
</div>
    
  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>