<style type="text/css">
    .people_class{
        width:  128px;
        height: 140px;
    }
</style>            
            <%= render '/projects/show/breadcums' %>
            <div class="booking-item-details">
                <header class="booking-item-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="lh1em">Midtown Manhattan Oversized</h2>
                            <!-- 
                            <p class="lh1em text-small"><i class="fa fa-map-marker"></i> 6782 Sarasea Circle, Siesta Key, FL 34242</p>
                            <ul class="list list-inline text-small">
                                <li><a href="#"><i class="fa fa-envelope"></i> Agent E-mail</a>
                                </li>
                                <li><a href="#"><i class="fa fa-home"></i> Agent Website</a>
                                </li>
                                <li><i class="fa fa-phone"></i> +1 (520) 466-9587</li>
                            </ul>
                            -->
                        </div>
                        <div class="col-md-4">
                            <p class="booking-item-header-price"> от <span class="text-lg">$250</span> до <span class="text-lg">$250</span></p>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-md-7">
                        <div class="tabbable booking-details-tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                               
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL rooftop pool" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite2" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL de luxe" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel 2" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="The pool" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO luxury suite" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel THE CLIFF BAY spa suite" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel EDEN MAR suite" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel 1" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO lobby" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY LIBERDADE" />
                                        <img src="/img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="google-map-tab">
                                    <div id="map-canvas" style="width:100%; height:500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-md-5">
                       
                        <ul class="booking-list">
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Вид сделки:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">продажа</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Район:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Макмутлар</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Тип объекта:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Квартира и пентхаус</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Комнат:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">1 + 1,2 </h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Площадь:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">216 м2</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Состоаяние:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">строящийся объект</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                             <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            до центра:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">200 м.</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                           до аэропорта:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">30 км</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                           год построки:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">09.2000</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
 
                        </ul>
                    </div>
                </div>
                 <div class="row">

                 <div class="col-md-7">
                  <ul class="list-inline">
                        <li><a class="btn btn-primary btn-lg">Узнать больше</a>
                        </li>
                        <li><a class="btn btn-success btn-lg">Посмотреть</a>
                        </li>
                    </ul>     
                </div>
                   
                    <div class="col-md-7">
                        <h3>Описание проекта</h3>
                        <p>Dignissim nec mollis ante urna nostra pulvinar pretium urna montes sed posuere ridiculus augue bibendum lorem nascetur laoreet interdum viverra torquent gravida convallis potenti sollicitudin accumsan commodo nullam aenean cursus ornare dis mi ad nulla imperdiet varius euismod himenaeos per hac dis primis accumsan id lobortis aptent tincidunt class faucibus</p>
                        <p>Diam erat blandit libero leo nibh lobortis condimentum posuere taciti senectus volutpat fames montes elit feugiat augue nibh feugiat sociis</p>
                        <p>Dignissim nec mollis ante urna nostra pulvinar pretium urna montes sed posuere ridiculus augue bibendum lorem nascetur laoreet interdum viverra torquent gravida convallis potenti sollicitudin accumsan commodo nullam aenean cursus ornare dis mi ad nulla imperdiet varius euismod himenaeos per hac dis primis accumsan id lobortis aptent tincidunt class faucibus</p>
                        <p>Diam erat blandit libero leo nibh lobortis condimentum posuere taciti senectus volutpat fames montes elit feugiat augue nibh feugiat sociis</p>
                        <hr/>
                            
                            

                            <ul class="list-inline">
                                <li>
                                    <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icon/print"><i class="fa fa-print"></i> Распечатать</a>
                                    
                                </li>
                                <li>
                                    <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icon/share"><i class="fa fa-mail-forward"></i> Отправить по e-mail</a>
                                </li>
                                <li>
                                    здесь ссылки
                                </li>
                             </ul> 
                        <hr/>
                        <h4>Задайте свой вопрос</h4>
                            <form>
                                <div class="form-group">
                                    <label>Имя</label>
                                    <input class="form-control" type="email"  />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="password"  />
                                </div>
                                <div class="form-group">
                                    <label>Телефон</label>
                                    <input class="form-control" type="password"  />
                                </div>
                                <div class="form-group">
                                    <label>Skype</label>
                                    <input class="form-control" type="password" />
                                </div>
                                <div class="form-group">
                                    <label>Сообщение</label>
                                    <input class="form-control" type="text"  />
                                </div>

                                <input class="btn btn-primary" type="submit" value="Отправить" />
                            </form>
                    </div>
                    
                    
                     <div class="col-md-5">
                        <h4>В стоимость входят</h4>
                        <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                            <li><i class="im im-wi-fi"></i><span class="booking-item-feature-title">Интернет</span>
                            </li>
                            <li><i class="im im-parking"></i><span class="booking-item-feature-title">Парковка</span>
                            </li>
                            <li><i class="im im-air"></i><span class="booking-item-feature-title">Кондиционер</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <h4>Условия кредита</h4>
                            <form>
                                <div class="form-group">
                                    <label>Первоначальный взнос</label>
                                    <input class="form-control" type="label" placeholder="10 000" />
                                </div>
                                <div class="form-group">
                                    <label>Срок кредита, лет</label>
                                    <input class="form-control" type="label" placeholder="10" />
                                </div>
                                <div class="form-group">
                                    <label>Процентная ставка %</label>
                                    <input class="form-control" type="label" placeholder="7" />
                                </div>

                                <div class="form-group">
                                    <label>Сумма выплаты </label>
                                    <input class="form-control" type="label" placeholder="12 000" readonly />
                                </div>
                                
                            </form>
                    </div>
                    <div class="col-md-5">
                       <h4>Люди</h4>
                        <ul class="booking-list">
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="/img/946x946.png" alt="Image Alternative text" title="The pool" class="people_class" />
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="text-lg">Татьяна Городищева</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Менеджер по продажам в России</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Телефон: +7 12 345 678</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Skype: skype_name</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Языки: русский, английский</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">tatyana@mail.ru</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="/img/946x946.png" alt="Image Alternative text" title="The pool" class="people_class" />
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="text-lg">Татьяна Городищева</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Менеджер по продажам в России</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Телефон: +7 12 345 678</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Skype: skype_name</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Языки: русский, английский</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">tatyana@mail.ru</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="/img/946x946.png" alt="Image Alternative text" title="The pool" class="people_class" />
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="text-lg">Татьяна Городищева</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Менеджер по продажам в России</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Телефон: +7 12 345 678</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Skype: skype_name</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">Языки: русский, английский</span>
                                        </div>
                                        <div class="col-xs-8">
                                            <span class="booking-item-feature-title">tatyana@mail.ru</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
              </div>
        </div>
