<style type="text/css">
	.credit_table{
  border: 1px solid black;
  margin: 0px auto;
  width: 100%;
  position: relative;
  float: left;
}

.credit_table td{
    padding: 10px 20px ;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
 .none_right{
 	border-right: none !important; 
 }

</style>
<h4>График выплат по кредиту</h4><a href="javascript:print();">распечатать</a>
	<table class="credit_table">
		<tr class="fixed">
			<td>Год</td>
			<td>Месяц</td>
			<td class="none_right">Остаток платежа</td>
		</tr>
		<% while @total_price > 0 %>
			<% if @total_price > 0  %>
				<% @total_price =  @total_price - @mount_pay %>
			<% end %>
			<tr>
			
			<td >
				<%= @year %>
			</td>
			<td>
				<%= @mount %>
			</td>
			<td class="none_right">
				<%=  sprintf("%.3f", @total_price) %> &euro;
			</td>
			<% 
			   	if @mount == 12
			   	  @mount = 0
			   	  @year += 1
			   	end	

			   @mount += 1

			 %>
		</tr>
		<% end %>
	</table>
