<%= render '/layouts/basic_styles.html.erb' %>

<div class="buy_page company_info">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
      
    <div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox"  hidden>
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Уведомление </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <p>Ваш запрос отправлен</p>
      </div>
    
        </div>
      </div>
    </div>



    <div class="project_heading">
      <h1 class="h1">О компании</h1>
    </div>

    <div class="persons_list">
      <ul>
        <li>
          <img src="/test2/2/5.png" class="avatar">
          <span class="name">Имя и фамилия</span>
          <span class="post">Зам. дирректора Alanyaproperties</span>
        </li>
        <li>
          <img src="/test2/2/4.png" class="avatar">
          <span class="name">Имя и фамилия</span>
          <span class="post">Зам. дирректора Alanyaproperties</span>
        </li>
        <li>
          <img src="/test2/2/1.png" class="avatar">
          <span class="name">Имя и фамилия</span>
          <span class="post">Зам. дирректора Alanyaproperties</span>
        </li>
      </ul>
    </div>


<div class="text">

<p>Лучшая недвижимость в Турции - от "Алания Пропертиз"
В нашем каталоге более 200 объектов недвижимости на побережье Средиземного
и Эгейского морей. </p>
<p>У нас собраны лучшие предложения по недвижимости, расположенной в таких
известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья,
Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры,престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и
дома.</p>

<p>Почему это выгодно? Наше агентство представляет собственные проекты жилых комплексов,
застройщиком которых выступает крупная строительная компания «Торослар
Констракшн» (Toroslar Construction).  Это позволяет нам предлагать недвижимость по очень выгодным ценам от
застройщиков и на гибких условиях, включая возможности инвестирования на этапе
строительства.  Мы напрямую сотрудничаем с рядом ведущих строительных компаний
Анатолийского региона, с которыми придерживаемся политики «выгодно и удобно для
клиента». </p>
<p>Почему быстро? Наша команда профессионалов имеет большой опыт работы на рынке недвижимости
Турции. Мы обеспечим законное, надежное и быстрое оформление документов на Вашу
недвижимость в Турции.</p>
</div>

<div class="video">
  <iframe  src="https://www.youtube.com/embed/6ZO0SE5zWpU" frameborder="0" allowfullscreen></iframe>
</div>

  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>