/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require font
 *= require main
 *= require fotorama
 *= require_self
 */

.img a:focus, a.buy_item_map:focus {
    outline: none;
}

.cboxIframe {
    background: #f1f1f1;
}

h3 {
    font-size: 20px;
}

#ui-datepicker-div {
  width: 223px;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    padding: 8px 0;
}

.results .apartment_list {
    width: 735px;
}

#datepicker-inner #ui-datepicker-div {
    left: 0 !important;
    top: 0 !important;
    position: relative !important;
}

#date-start, #date-end, #main-search-input {
    outline: none;
}

.form .field_with_errors .input, .form .field_with_errors textarea {
    border-color: red;
}

.order_form .field_with_errors .input, .order_form .field_with_errors textarea {

  color: #ed1c24;

  &::-webkit-input-placeholder { /* WebKit browsers */
    color: #ed1c24;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ed1c24;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ed1c24;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ed1c24;
  }
}

label.with_error {
  color: red;
}
.transfer_form fieldset {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.transfer_in.disabled, .transfer_out.disabled {
  fieldset {
    opacity: .2;
  }
  .disabled_layer {
    bottom: 0;
    width: 235px;
    position: absolute;
    height: 286px;
    /* background: white; */
    /* opacity: .2; */
    z-index: 2;
  }
}

.btn.disabled {
  background: #939598;
  text-transform: none;
  //font-size: 12px;
  //line-height: 15px;
  color: white;
  //padding: 2px 6px 1px;
}

.sidebar_nav span {
  display: block;
  text-decoration: none;
  padding: 16px 0;
  color: #00aeac;
}

.city_page .sidebar_nav .title span {
  font-size: 20px;
  line-height: 36px;
}
.city_page .sidebar_nav span {
  font-size: 16px;
  line-height: 19px;
}

.transfer_plane.act {
  background-color: #00aeac;
  color: white;
}

.apatment_list_bot {
  position: relative;
}

.offer_link .offer_info {
  display: none;
}

a.offer_link:hover {
  .offer_info {
    display: block;
  }
  .plus {
    display: none;
  }
}

.play_video {
  z-index: 100;
  left: 50%;
  top: 50%;
  position: absolute;
}

.buy_item_photos .property_video .play_video, .photo_list img.play_video{
  height: 26px;
  width: 32px;
  margin-top: -13px;
  margin-left: -16px;
  border: 0;
}

.main_slider .play_video {
  outline: none;
  -webkit-transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;

  background: image-url('play_video.png') no-repeat;
  width: 69px;
  height: 68px;
  margin-top: -34px;
  margin-left: -34px;
}

.main_slider .play_video:hover {
  background-position: 0 -68px;
}

.photo_list .img {
  position: relative;
}

.error_text {
  float: left;
  width: 240px;
  padding-left: 6px;
  margin-top: 16px;

  h2 {
    font-size: 40px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 20px;
    margin-left: 3px;
  }
  h1 {
    font-size: 128px;
    color: #f27321;
    font-weight: 400;
    line-height: 55px;
  }
  p {
    font-size: 17px;
  }
}

.error_image {
  position: relative;
  left: -24px;
  top: 4px;
}

.error_back {
  background: image-url('error_back.png') no-repeat;
  width: 222px;
  height: 41px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 45px;
  position: absolute;
  top: 555px;
  left: 384px;
}

.apartment_list .title a {
  text-decoration: none;
}


.project_heading{
background-color: #00CCCA;
padding: 6px;
border-radius: 5px 5px 0 0;
border-bottom: 1px solid #e1e1e1 !important;
}
.project_heading .h1{
font-size: 17px !important;
padding-left: 10px;
}
.buy_item{
border: none;
padding: 0px;
width: 730px;
}
.buy_filter{
width: 200px;
}
.buy_item_text{
padding-left: 20px !important;
width: 430px;
}
.buy_item .item_price{
min-width: 0;
border:  0;
font-size: 17px !important;
}
.buy_item_photos{
max-width: 462px !important;
padding-top: 20px;
margin: 0px !important;
}
.fotorama{
max-width: 470px !important;
}
.fotorama img {
height: 250px;
width: 470px;
}
.description_project{
padding-top: 10px;
}
.price_area{
color: #44C4E4;
font-size: 17px;
padding-bottom: 5px;
}
.buy_item_info{
padding-left: 10px;
width: 205px !important;
}
.project_info .line{
line-height: 19px;
color: #6d6e70;
font-size: 10px;
padding-top: 3px;
}
.project_info .line .value{
float: right !important;
}
.project_info{
margin-right: 20px;
}
.line .type{
padding-left: 4px;
}
.line .value{
padding-right: 4px;
}
.buy_item_text .buttons{
margin: 10px 0;
}
.buy_item_text .buttons a{
font-size: 15px;
background-color: #00CCCA;
font-size: 13px;
line-height: 14px;
padding: 8px 10px;
margin-right: 15px;
color: #4d4d4d;
}
.manager_list{
float: right;
width: 290px
}
.manager_list .list .avatar{
width: 40%;
}
.manager_list img{
height: 200px !important;
width: 120px !important;
}
.description_project{
width: 400px;
padding-left: 20px;
float: left;
padding-top: 0;
font-size: 15px;
}
.bg_dark{
background-color: #CCCCCC;
}
.bg_light{
background-color: #EDEDED ;
}
.to_coast{
margin-top: 10px;
}
.to_coast_list .line{
padding-left: 20px;
}
.credit_input{
width: 100%;
}
.credit{
margin-top: 10px;
}
.distnce_list ul li{
  display: inline-table;
  margin: 0 -2px;

}

input.home:checked + label{
   background: rgba(0, 0, 0, 0) url("/old/distance_label.png") no-repeat scroll 0 -84px;
   background-color: none !important;
   float: left;
    height: 15px;
    overflow: hidden;
    padding:0;
    text-align: center;
    transition: none 0s ease 0s ;
    vertical-align: top;
    width: 40px;
}

input.labelauty:not(:checked):not([disabled]) + label{
  background: rgba(0, 0, 0, 0) url("/old/distance_label.png") no-repeat scroll 0 0;
  background-color: none !important;
   float: left;
    height: 15px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: none 0s ease 0s ;
    vertical-align: top;
    width: 40px;

}

.sities_list ul{
   display: inline-table !important;
  list-style: outside none none !important;
  background: none !important;
  background-color: none !important;
  float: left;
}

.sities_list .first {
  width: 33%;
   margin-right: 3px
}
.sities_list .first{
  ul li{
    margin-left: 2px; 
    
  }
}
 .sities_list .second{
  width: 33%;
  margin-right: 3px;
}

 .sities_list .third{
  width: 30%;
  
}

.sities_list ul li {
   display: flex !important;
  list-style: outside none none !important;
  background: none !important;
  background-color: none !important;
  width: 62px;
  margin-left: 1px !important; 
}

input.sity.synch-icon + label{
   background: none !important;
  background-color: none !important;
   color: #4d4d4d !important;
}

.sities_list ul li label{
  padding: 0 !important;
}
.sities_list .second li label{
  padding: 0 !important;
}

.sities_list .sity .labelauty-unchecked{
  margin: 0 !important;
  padding: 0 !important;
}

input.sity + label > span.labelauty-unchecked-image + span.labelauty-unchecked, input.sity + label > span.labelauty-checked-image + span.labelauty-checked{
  margin-left:  0px !important;
  text-align: left !important;
  width: auto !important;
}
.sities_list ul li {
  padding-bottom: 5px;
  font-family: Verdana;
  font-size: 13px !important;
  text-align: left !important;
}

input.sity + label > span.labelauty-checked-image + span.labelauty-checked{
  color: #00aeac !important;
   font-size: 13px !important;
   text-align: left !important;
}

input.sity + label > span.labelauty-unchecked-image + span.labelauty-unchecked{
   font-size: 13px !important;
   text-align: left !important;
   width: auto !important;
}

input.home:checked + label{
  background-color: none !important; 
}
input.labelauty:checked + label{
  background-color: none !important; 
}

.filter_section h2{
    font-size: 24px;
    padding-bottom: 10px;
}

.filter_section.type{
   margin-top: 10px;
}
.prices_list .start{
  width: 53%;
  float: left;
}

.prices_list .end{
  width: 47%;
  float: right;
}



.prices_list ::-webkit-input-placeholder {
  font-size: 12px;
}

.prices_list ::-moz-placeholder { /* Firefox 18- */
   font-size: 12px 
}

.prices_list ::-moz-placeholder {  /* Firefox 19+ */
  font-size: 12px;
}

.prices_list :-ms-input-placeholder {  
  font-size: 12px;
}

.prices_list input{
  font-size: 18px;
   padding: 2px 15px 1px;
}

.static_sities_list ul li ul li{
  font-family: Verdana;
   line-height: 24px;
    list-style: outside none none;
}

.static_sities_list ul li ul{
  margin-left: 20px;
  font-family: Verdana;

   line-height: 24px;
    list-style: outside none none;
}

.static_sities_list ul li{
  font-family: Verdana;

   line-height: 24px;
    list-style: outside none none;

}

.item a :hover{
  color:  #00aeac;
}

.static_menu_section .static_menu{
  background-color:  #00aeac ;
    border: 0 none;
    border-radius: 4px;
    padding: 4px 9px;
    text-align: center;
}

.static_menu_section h2{
  text-align: center;
  color: white;
}

.static_menu_section h2{
  padding: 5px 0;
  background: #00aeac none repeat scroll 0 0;
  margin-left: -12px;
  margin-right: -12px;
}

.project_heading{
  background-color: #00aeac;
}


.demo {
    max-width: 400px;
    padding: 25px;
    margin: 45px auto;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    text-align: center;
}
/* Стили модального окна */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 500px;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
    
}
.btn:hover, .btn:focus {
  
}
.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

/* Элементы формы контактов */
.textbox{
    height:45px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    font-size:14px; 
    padding:8px;
    margin-bottom:20px;  
}
.message:focus,
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 1px solid;
    color:rgba(24,149,215,1);
}
.message{
  background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:14px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}
/* кнопка "отправить" формы */
.btn-form{
    width:100%;
    height:45px;  
    border:rgba(0,0,0,.2) 1px solid;
    box-sizing:border-box;
    background: #dedede;
    color:#555;
    transition:background .4s;
}
/* Изменение фона кнопки при наведении */
.btn-form:hover{
    background: #f2f2f2;
}


