/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require main
 *= require fotorama
 *= require_self
 *= require fancybox
 */

.img a:focus, a.buy_item_map:focus {
    outline: none;
}

.cboxIframe {
    background: #f1f1f1;
}

h3 {
    font-size: 20px;
}

#ui-datepicker-div {
  width: 223px;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    padding: 8px 0;
}

.results .apartment_list {
    width: 735px;
}

#datepicker-inner #ui-datepicker-div {
    left: 0 !important;
    top: 0 !important;
    position: relative !important;
}

#date-start, #date-end, #main-search-input {
    outline: none;
}

.form .field_with_errors .input, .form .field_with_errors textarea {
    border-color: red;
}

.order_form .field_with_errors .input, .order_form .field_with_errors textarea {

  color: #ed1c24;

  &::-webkit-input-placeholder { /* WebKit browsers */
    color: #ed1c24;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ed1c24;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ed1c24;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ed1c24;
  }
}

label.with_error {
  color: red;
}
.transfer_form fieldset {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.transfer_in.disabled, .transfer_out.disabled {
  fieldset {
    opacity: .2;
  }
  .disabled_layer {
    bottom: 0;
    width: 235px;
    position: absolute;
    height: 286px;
    /* background: white; */
    /* opacity: .2; */
    z-index: 2;
  }
}

.btn.disabled {
  background: #939598;
  text-transform: none;
  //font-size: 12px;
  //line-height: 15px;
  color: white;
  //padding: 2px 6px 1px;
}

.sidebar_nav span {
  display: block;
  text-decoration: none;
  padding: 16px 0;
  color: #00aeac;
}

.city_page .sidebar_nav .title span {
  font-size: 20px;
  line-height: 36px;
}
.city_page .sidebar_nav span {
  font-size: 16px;
  line-height: 19px;
}

.transfer_plane.act {
  background-color: #00aeac;
  color: white;
}

.apatment_list_bot {
  position: relative;
}

.offer_link .offer_info {
  display: none;
}

a.offer_link:hover {
  .offer_info {
    display: block;
  }
  .plus {
    display: none;
  }
}

.play_video {
  z-index: 100;
  left: 50%;
  top: 50%;
  position: absolute;
}

.buy_item_photos .property_video .play_video, .photo_list img.play_video{
  height: 26px;
  width: 32px;
  margin-top: -13px;
  margin-left: -16px;
  border: 0;
}

.main_slider .play_video {
  outline: none;
  -webkit-transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;

  background: image-url('play_video.png') no-repeat;
  width: 69px;
  height: 68px;
  margin-top: -34px;
  margin-left: -34px;
}

.main_slider .play_video:hover {
  background-position: 0 -68px;
}

.photo_list .img {
  position: relative;
}

.error_text {
  float: left;
  width: 240px;
  padding-left: 6px;
  margin-top: 16px;

  h2 {
    font-size: 40px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 20px;
    margin-left: 3px;
  }
  h1 {
    font-size: 128px;
    color: #f27321;
    font-weight: 400;
    line-height: 55px;
  }
  p {
    font-size: 17px;
  }
}

.error_image {
  position: relative;
  left: -24px;
  top: 4px;
}

.error_back {
  background: image-url('error_back.png') no-repeat;
  width: 222px;
  height: 41px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 45px;
  position: absolute;
  top: 555px;
  left: 384px;
}

.apartment_list .title a {
  text-decoration: none;
}


.project_heading{
background-color: #00CCCA;
padding: 6px;
border-radius: 5px 5px 0 0;
border-bottom: 1px solid #e1e1e1 !important;
}
.project_heading .h1{
font-size: 17px !important;
padding-left: 10px;
}
.buy_item{
border: none;
padding: 0px;
width: 730px;
}
.buy_filter{
width: 200px;
}
.buy_item_text{
padding-left: 20px !important;
width: 430px;
}
.buy_item .item_price{
min-width: 0;
border:  0;
font-size: 17px !important;
}
.buy_item_photos{
max-width: 462px !important;
padding-top: 20px;
margin: 0px !important;
}
.fotorama{
max-width: 470px !important;
}
.fotorama img {
height: 250px;
width: 470px;
}
.description_project{
padding-top: 10px;
}
.price_area{
color: #44C4E4;
font-size: 17px;
padding-bottom: 5px;
}
.buy_item_info{
padding-left: 10px;
width: 205px !important;
}
.project_info .line{
line-height: 19px;
color: #6d6e70;
font-size: 10px;
padding-top: 3px;
}
.project_info .line .value{
float: right !important;
}
.project_info{
margin-right: 20px;
}
.line .type{
padding-left: 4px;
}
.line .value{
padding-right: 4px;
}
.buy_item_text .buttons{
margin: 10px 0;
}
.buy_item_text .buttons a{
font-size: 15px;
background-color: #00CCCA;
font-size: 13px;
line-height: 14px;
padding: 7.5px 10.5px;
margin-right: 15px;
color: #4d4d4d;
}
.manager_list{
float: right;
width: 290px
}
.manager_list .list .avatar{
width: 40%;
}
.manager_list img{
height: 200px !important;
width: 120px !important;
}
.description_project{
width: 400px;
padding-left: 20px;
float: left;
padding-top: 0;
font-size: 15px;
}
.bg_dark{
background-color: #CCCCCC;
}
.bg_light{
background-color: #EDEDED ;
}
.to_coast{
margin-top: 10px;
}
.to_coast_list .line{
padding-left: 20px;
}
.credit_input{
width: 100%;
}
.credit{
margin-top: 10px;
}
.distnce_list ul li{
  display: inline-table;
  margin: 0 -2px;

}

input.home:checked + label{
   background: rgba(0, 0, 0, 0) url("/old/distance_label.png") no-repeat scroll 0 -84px;
   background-color: none !important;
   float: left;
    height: 15px;
    overflow: hidden;
    padding:0;
    text-align: center;
    transition: none 0s ease 0s ;
    vertical-align: top;
    width: 40px;
}

input.labelauty:not(:checked):not([disabled]) + label{
  background: rgba(0, 0, 0, 0) url("/old/distance_label.png") no-repeat scroll 0 0;
  background-color: none !important;
   float: left;
    height: 15px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    transition: none 0s ease 0s ;
    vertical-align: top;
    width: 40px;

}

.sities_list ul{
   display: inline-table !important;
  list-style: outside none none !important;
  background: none !important;
  background-color: none !important;
  float: left;
}

.sities_list .first {
  width: 33%;
   margin-right: 3px
}
.sities_list .first{
  ul li{
    margin-left: 2px; 
    
  }
}
 .sities_list .second{
  width: 33%;
  margin-right: 3px;
}

 .sities_list .third{
  width: 30%;
  
}

.sities_list ul li {
   display: flex !important;
  list-style: outside none none !important;
  background: none !important;
  background-color: none !important;
  width: 62px;
  margin-left: 1px !important; 
}

input.sity.synch-icon + label{
   background: none !important;
  background-color: none !important;
   color: #4d4d4d !important;
}

.sities_list ul li label{
  padding: 0 !important;
}
.sities_list .second li label{
  padding: 0 !important;
}

.sities_list .sity .labelauty-unchecked{
  margin: 0 !important;
  padding: 0 !important;
}

input.sity + label > span.labelauty-unchecked-image + span.labelauty-unchecked, input.sity + label > span.labelauty-checked-image + span.labelauty-checked{
  margin-left:  0px !important;
  text-align: left !important;
  width: auto !important;
}
.sities_list ul li {
  padding-bottom: 5px;
  font-family: Verdana;
  font-size: 12px !important;
  text-align: left !important;
}

input.sity + label > span.labelauty-checked-image + span.labelauty-checked{
  color: #00aeac !important;
   font-size: 12px !important;
   text-align: left !important;
}

input.sity + label > span.labelauty-unchecked-image + span.labelauty-unchecked{
   font-size: 12px !important;
   text-align: left !important;
   width: auto !important;
}

input.home:checked + label{
  background-color: none !important; 
}
input.labelauty:checked + label{
  background-color: none !important; 
}

.filter_section h2{
    font-size: 24px;
    padding-bottom: 5px;
}

.filter_section.type{
   margin-top: 10px;
}
.prices_list .start{
  width: 53%;
  float: left;
}

.prices_list .end{
  width: 47%;
  float: right;
}



.prices_list ::-webkit-input-placeholder {
  font-size: 12px;
}

.prices_list ::-moz-placeholder { /* Firefox 18- */
   font-size: 12px 
}

.prices_list ::-moz-placeholder {  /* Firefox 19+ */
  font-size: 12px;
}

.prices_list :-ms-input-placeholder {  
  font-size: 12px;
}

.prices_list input{
  font-size: 20px;
   padding: 2px 15px 1px;
   width: 90px;
}


.static_sities_list {
  ul{
    margin-bottom: -20px;

    li{
      font-family: Verdana;

      line-height: 24px;
      list-style: outside none none;

    }

    .sub_item{
        margin-left: 20px;
      }
  }
}

.item a :hover{
  color:  #00aeac;
}

.static_menu_section .static_menu{
  background-color:  #00aeac ;
    border: 0 none;
    border-radius: 4px;
    padding: 0;
    text-align: center;
}

.static_menu_section h2{
  padding: 5px 0;
  background: #00aeac none repeat scroll 0 0;
  margin-left: -12px;
  margin-right: -12px;
  font-size: 16px;
  text-align: center;
  color: #4d4d4d ;

  span{
    padding: 0px;
  }
}

.project_heading{
  background-color: #00aeac;
}


.demo {
    max-width: 400px;
    padding: 25px;
    margin: 45px auto;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    text-align: center;
}
/* Стили модального окна */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 500px;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
    
}
.btn:hover, .btn:focus {
  
}
.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

/* Элементы формы контактов */
.textbox{
    height:45px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    font-size:14px; 
    padding:8px;
    margin-bottom:20px;  
}
.message:focus,
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 1px solid;
    color:rgba(24,149,215,1);
}
.message{
  background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:14px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}
/* кнопка "отправить" формы */
.btn-form{
    width:100%;
    height:45px;  
    border:rgba(0,0,0,.2) 1px solid;
    box-sizing:border-box;
    background: #dedede;
    color:#555;
    transition:background .4s;
}
/* Изменение фона кнопки при наведении */
.btn-form:hover{
    background: #f2f2f2;
}
.credit{
  border: none;
}

.credit input{
    height: 30px;
    line-height: normal;
    width: 170px;
    font-family: Verdana;
}

.description_project {
  outline: 1px solid red;
  float: left;
   min-height: 350px;
}

.credit_condirm{
  padding: 0 10px;
  border: 1px solid #00aeac;
  border-radius: 3px;
  color: white;
  background: #00aeac;
  width: 90px;
  margin-top: 8px;
}
.managers_list{
 width: 260px;
  float: right;
  outline: 1px solid red;
   margin-top: 25px;
  ul{
    li{
      height: 125px;
      font-size: 10px;
      list-style: outside none none;
    .manager{
    .photo {
       width: 40%;
       float: left;

      img{
         width: 105px;
         height: 115px;
      }
    }
    .description{
      width: 55%;
      float: right;
      padding-left: 4px;
        .field{
          clear: both !important;
          position: relative;
        }
        .name{
          font-weight: bold;
           top: -5px;
        }

        .post{
          margin-bottom:5px; 
          font-style: oblique;
        }
        .skype_man {
          
        }
    }
}
   }
 
  }
}

.buttons_before_qus{
  width: 100%;
  float:left;
  margin-bottom: 10px;
  margin-top: 20px;
  
  .share{
    width: 100%;
    float: left;
    margin-bottom: 10px; 
  }
  .print{

    color: #00aeac;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 20px;

    }

    .send{
    
    color: #00aeac;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    }
}

.form_question{
  width: 100%;
  float: left;
  border-top: 1px solid  #4d4d4d;

  .fields_left{
    width: 50%;
    float:left;

  }

  .fields_right{
    width: 50%;
    float:right;
  }
}

.form_question{
  form{
     padding-left: 20px;
    .fields_left, .fields_right{
      .form_group{ 
        padding-left: 10px; 
        label{
           clear: both !important;
           float: left;
           width: 100%;
           font-family: verdana;
           font-size: 13px;
           padding-bottom: 3px;
           padding-top: 3px;
        }
        input{
          width: 70%;
          height: 30px;
        }
      }


    }

    .msg{
      float: left;
      clear: both;
      padding-left: 10px;
      width: 98%;
      padding-top: 10px;

       input{
         width: 86%;
         height: 60px;
        } 

          label{
            clear: both !important;
           float: left;
           width: 86%;
           font-family: Verdana;
           font-size: 13px;
            padding-bottom: 3px;
           padding-top: 3px;
           
     

       }
    }
  }
}

.form_question{
   margin-bottom: 40px;

  .heading{
    font-family: Verdana !important;
    font-weight: bold !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-top: 10px !important;
  }

  .button{
    width: 30%;
    float: right;
    clear: both;
    padding-top: 10px;
    .sub{
      background: #00aeac none repeat scroll 0 0;
      border: 1px solid #00aeac;
      border-radius: 3px;
      color: white;
      margin-top: 8px;
      padding: 0 10px;
      width: 96px;
      height: 30px;
    }
  }
}

.modal-body{
  .textbox{
    background-color: white !important;
  }
}

.main_menu{
  li{
    list-style: none;
  }
}

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

nav{


}
  nav ul{
    list-style: none;
    position: relative;
    float: right;
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{}
    nav ul li:hover > ul{display: block; z-index: 10;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block; 
        padding: 5px 10px;
        color: #222; 
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      nav ul ul{
        display: none;
        background: #fff;
        position: absolute; 
        top: 50px;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
          } 


.header {

  padding: 0;
  
  .before_nav{
    width: 72%;
    float: right;
    padding-top: 10px;

    img{
      width: 25px;
       margin-top: -6px;
       margin-right: 5px;
    }

    .phones{
      width: 63%;
      float: left;
      .phone{
        text-align: right;
        clear: both;
        float: right;
        padding-bottom: 3px;
      }
    }

    .other{
      width: 33%;
      text-align: left;
      float: right;

      .mail{
        padding-bottom: 4px; 
      }

      .mail, .skype_in_head{
        float: left;
        clear: both;
         margin-top: 4px;
      }
    }
  }

  nav{
    float: left;
    width: 100%;
     background: transparent url("/src/bg_menu.png") no-repeat scroll 0 23px / 960px auto;
      font-size: 14px;
    line-height: 17px;
    margin: 0 -3px;
    padding: 14px 0 0 24px;
    margin-top: -15px;

    ul{
      padding-top: 16px;
      li{
        a{
            color: #4d4d4d;
            display: block;
            font-size: 12px;
            letter-spacing: 0;
            padding: 9px 8px;
            text-decoration: none;
            text-transform: uppercase;
        }
        ul{
          padding-top: 0px;

           a{
               padding: 5px 8px;
            }



          .sub{
          padding-left: 30px;
          }
        }
        
      }
    }
  }
}

.content {
  padding: 0px;
}
.wrapper{
  background-color: #eeeeee;
}
.min_width{
  width: 980px;
}

.footer{

  width: 980px;
  float: left;
  background: #eeeeee none repeat scroll 0 0;
  clear: both;
  margin-left: -14px;
  padding-top: 30px;

  .row{
    width: 163px;
    float: left;

  }
  ul{
    list-style: none;
     .last{
      margin-right: -40px !important;
    }

    li{
      border-bottom: 1px solid gray;
      a{
         font-size: 10px;
          margin-bottom: 7px;
          padding-left: 20px;
      }
     
    }

  }
}         

*, *::before, *::after{
  font-family: Verdana !important;
}

.apartment_list{
  padding: 10px !important;
  padding-right: 0px !important; 
  margin: 0 !important;

  .clear{
    padding: 5px 0; 
  }

  li{
    margin: 0px !important;
    margin-right: 16px !important;
    width: 214px !important;
  }

}
 

.apatment_list_bot {
  img{
    height: 130px;
    width: 207px;
  }
}

.results h1{
  font-size: 20px !important;
  padding-left: 10px;
}

.item{
  
  img{
    width: 700px;
    float: left;
  }

  .description{
     width: 48%;
      float: right; 
      z-index: 100;

      margin-right: 20px;
      margin-top: -170px;

      

    .info{
      background-color: rgb( 0, 174, 172);
      opacity: 0.85;
      color: white;
      border: 1px solid #00aeac;
      border-radius: 5px;
      padding: 10px;
      float: right;
      font-size: 14px;  
      width: 100%;
      color: white;
      .first{
        float: left;
        width: 60%;
      }
      .second{
        float: left;
        width: 100%;
        clear: both;
      }

      .price{
        float: right;
        width: 26%;
        font-size: 18px;
      }

    }
  }

  .spoler{
    background-color: white;
    opacity: 0.85;
    color: #4d4d4d;
    width: 100%;
    float: left;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px; 

    a{
       color: #ff9226;
    }
  }
}

#owl-demo{
  .owl-controls {
    width: 30%;
    float: left;
    margin-top: -25px;
  }
  .owl-buttons{
    display: none;
  }
}

.owl-theme .owl-controls .active span{
  background: #00aeac ;
}

.owl-theme .owl-controls .owl-page span{
  background: white ;
}


.page_row {
  width: 100%;
  float: left;
  .heading{
    background: #00aeac none repeat scroll 0 0;
    padding: 6px 10px;
    color: #4d4d4d;
    font-size: 16px;
    font-family: Verdana;
  }
  .content{
    padding: 15px;
    font-size: 14px;
  }
}

.news_line {
  padding: 10px 0;
  li{
    display: inline-table;
    width: 31%;
    float: left;
    margin-bottom: 15px;
     margin-left: 15px;
     height: 215px;
      line-height: 16px;
     span{
      line-height: 11px;

     }

    .title{
      width: 100%;
      float: left;
      clear: both;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 5px;
      color: #44c4e4 ;
    }
    .avatar{
      width: 88px;
      height: 88px;
      float: left;
      margin: 0 10px 0 0;
    }
    .mini-lead{
      width: 65%;
      text-align: left;
      line-height: 10px !important;
      font-size: 12px;
    }
    


    .more{

      color: #44c4e4 ;
      line-height: 12px;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}

.wiget_events_list{
  li{
    width: 45%;
    float: left;
    display: inline-table;
    margin: 0 10px 15px 0;

    .avatar{
      width: 122px;
      height: 122px;
      float: left;
    }
    .title{
      width: 55%;
      float: right;
      text-align: left;
      font-size: 14px;
      margin-left: 7px; 
      margin-bottom: 5px;
    }
    .description{
      width: 55%;
      float: right;
      text-align: left;
      font-size: 12px;
      margin-left: 7px;
    }
  }
}

.static_menu_section{
  .banners{
    width: 100%;

    .banner{
       margin-bottom: 55px;

      img{
        width: 100%;
        height: 200px;  
      }

      .title{
        width: 100%;
        padding: 5px 5px;
        text-align: center;
        font-size: 15px;
        color: #4d4d4d;
        background-color: #00aeac ;
        float: left;        
      }
    }
  }
}

.apartment_list{
  padding-top: 0px !important;
  li{
    border-radius: 5px;
  .apatment_list_bot{
    border-radius: 5px; 
    width: 100%;
    img{
      float: left !important;
      z-index: 1 !important;
      margin-top: -1px;
    }
    .title{
      margin-left: 6px;
      width: 100%;
      height: 28px;
      float: left;
    }
    .sku{
      color: white;
      background: #ff9226;
      padding: 2px 4px;
      z-index: 5;
      float: right;
       margin-bottom: -31px;
      margin-left: -10px;
      border-radius: 5px;
      border: 1px solid;
      position: relative;
      margin-right: 5px;
      margin-top: 5px;
      border: 1px solid #ff9226;
    }
  }
 }
}

.apatment_list_top{
  border-radius: 5px;
}
.company_info{
  .persons_list{
    width: 100%;
    margin: 20px 0;
    ul{
      li{
        display: inline-table;
        list-style: none;
        width: 30%;
        float: left;
        margin-left: 18px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        

        .avatar{
          width: 100%;
          float: left;
          height: 200px;
        }
        .name{
          width: 100%;
          float: left;
          font-size: 14px;
          color: #4d4d4d;
          line-height: 25px;
          clear: both;
          text-align: center;
           background: rgba(0, 0, 0, 0) url("/img/apatment_list_top.png") no-repeat scroll 0 bottom;
        }
        .post{
          width: 100%;
          float: left;
          font-size: 12px;
          color: #4d4d4d;
          line-height: 24px;
          clear: both;
          text-align: center;
          background: rgba(0, 0, 0, 0) url("/img/apatment_list_bot.png") no-repeat scroll 0 bottom;
        }
      }
    }
  }

  .text{
    width: 100%;
    float: left;
    padding: 0 20px;
    margin: 15px 0;
    font-family: Verdana;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 20px;
  }

  .video{
    width: 100%;
    float: left;
    padding: 0 20px;
    margin-bottom: 20px;

    iframe{
      width: 670px;
      height: 350px;
    }
  }
}

.peoples{
  .peoples_list{
    margin-top: 15px;
    ul{
      li{
        width: 47%;
        float: left;
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 25px;

        .avatar{
          width: 45%;
          float: left;
        }

        .info{
          width: 51%;
          float: right;
          color: #4d4d4d;
          font-size: 13px;
          line-height: 19px;

          .name{
            color: black;
            font-size: 16px;
          }
          .post{
            margin-bottom: 6px;
            float: left;
            width: 100%;
          }
          .phone{ 
            float: left;
            width: 100%;
          }
          .languages{
            float: left;
            width: 100%;
          }
          .skype_man{
            float: left;
            width: 100%;
          }
          .email{
            float: left;
            width: 100%;
          }

        }
      }
    }
  }
}

.reviews{
  .reviews_list{
    margin: 0 20px;
    ul{
      li{
        width: 100%;
        list-style: none;
        .heading{
          width: 100%;
          float: left;
          padding: 5px;
          background: #00aeac;
          border: 1px solid #00aeac;
          border-radius: 5px;         
        }
        .content{
          width: 100%;
          float: left;
          padding: 11px 15px; 
        }
      }
    }
  }
}

.review_form{
  border: none;
}

.item img{
  width: 100%;
  float: left;
  height: 400px;
}

.events_list{
  margin: 20px 0 0 0 ;
  font-family: Verdana;
  color: #4d4d4d ;
  ul{
    width: 100%;
    li{
      display: inline-table;
      float: left;
      width: 30%;
      list-style: none;
      margin-left: 14px;
      margin-bottom: 30px;
      .avatar{
        float: left;
        width: 40%;
        clear: both;
        height: 60px;
      }
      .title{
        float: right;
        width: 55%;
      }
      .more{
        float: right;
        width: 55%;
        color: #44c4e4;
      }
    }
  }
}
.exhibition{
  .text{
     color: #4d4d4d ;
    padding: 10px;
    margin-top: -20px;
  }
}

.apartment_list .prise{
   font-size: 20px;
}

.sity{
  .sity_images{
    width: 100%;
    float: left;
    list-style: none;
    margin-bottom: 15px;
    li{
      list-style: none;
      width: 14%;
      float: left;
      margin-left: 16px;
      background: #00aeac;
      border-radius: 5px;
      margin-bottom: 15px;

      .title{
        text-align: center;
        color: white;
        text-align: center;
        font-family: Verdana;
        float: left;
        width: 100%;

      }

      img{
        width: 100%;
        width: 99px;
        height: 99px;
      }
    }
  }

  .desc{
    font-family: Verdana;
    font-size: 14px;
    color: #4d4d4d;
    padding: 15px;
    margin-top: 10px;
  }
}

.price_area{
  font-size: 15px !important;
}

.buy_item{
  .managers_list{
    ul{
      li{
        .description{
          .field{
            width: 100%;
            float: left;
            clear: both;
            line-height: 18px;
          }
        }
      }
    }
  }
}

.project_info{
    border-bottom: 1px solid #e1e1e1;
}

.buttons .more{
   padding: 7.5px 10px;
}
.apartment_list .prise{
  font-size: 15px;
  line-height: 21px;
}

.apatment_list_bot img{
    height: 130px;
    width: 213px;
}

.apatment_list_bot{
   padding: 0 0 9px;
}
.apartment_list .btn{
  margin-top: 0;
  margin-right: 6px;
}
.credit{
  border: none !important;
}

#content{
  border: none;
}

.pagination{
    margin: 15px;
    width: 100%;
    float: left;

   .disabled{
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: #939598;
    display: inline-block;
    font-size: 12px;
    line-height: 120%;
    padding: 5px 8px;
    text-decoration: none;
   }
}




  .fancybox-outer{
    .event_detail{
      h4{
        color: #4d4d4d;
        font-size: 24px;
        font-weight: normal;
        line-height: 24px;
        overflow: hidden;
        margin-left: 10px;
      }
      .desc{
        font-family:Verdana;
        font-size: 13px;
        line-height: 19px;
        color: #4d4d4d;
        margin: 10px;
      }
      ul{
        li{
         width: 100px;
         height: 100px;
         margin-left: 10px;
         display: inline;
         list-style: none;
          img{
            width: 100px;
            height: 100px;
          } 
        }
      }
    }


.exhibition
  .text p{
    font-family:Verdana !important;
    font-size: 13px !important;
    line-height: 19px !important;
    color: #4d4d4d;
  }
}

.post_category{
  .posts_list{
    width: 100%;
    float: left;
    ul{
      margin: 20px;
      li{
        list-style: none;
        width: 100%;
        float: left;
        margin: 10px 0;
        .head{
          background: #00aeac none repeat scroll 0 0;
          border: 1px solid #00aeac;
          border-radius: 5px;
          float: left;
          padding: 5px;
          width: 100%;
          a{
             color: #626262;
             font-family: Verdana;
             font-size: 16px;
          }
        }
        .lead{
          color: #626262;
          font-family: Verdana;
          font-size: 13px;
          padding: 0 10px;
          float: left;
        }
      }
    }
  }
}

.post_show{
  .content{ 
    color: #626262;
    font-family: Verdana;
    font-size: 12px;
    padding: 10px;
    float: left;
    line-height: 18px;
  }
}
#send4{
  width: 83%;
  clear: both;
  height: 30px !important;
}

.banners_lasts{
  margin-bottom: -15px !important;
}

.prices_list input{
  line-height: 23px;
}

.id_search{
  margin-bottom: 20px;
  input{
    width: 100%;
    float: left;
    clear: both;
    height: 37px;
  }
}

.buy_filter{
  .submit{
    margin-top: 30px;
    margin-bottom: -10px;
  }
}
.end input, .start input{
  height: 31px;
}

.filter_section h2{
  .static_menu{
  font-size: 16px !important;
  }
}

.mini_boder{
  ul{
    li{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
      margin-left: -12px;
      margin-right: -12px;
      padding-left: 12px;
    }
  }
}

.static_sities_list{
  a:hover{
    color: #00aeac;
  }
}

.content{
  
  p{
    font-size: 12px;
    
    float: left;
    line-height: 18px;
  }
}

.main_page_description{
  margin-bottom: 15px;
  .content{
    padding: 10px;
  }
}

#calculator{
  label{
    font-size: 13px !important;
  }
}

.spoiler_body {display:none;}

.spoiler_links {
  cursor:pointer;
  padding: 5 15px;
  border-radius: 3px;
  color: white !important;
  background-color: #f27321;
  padding: 1px 30px;
  position: relative;
  float: left;
  clear: both;
}

.modal-body{
  .info{
    float: left;
    clear: both;
  }
  label{
    float: left;
    clear: both;
  }
  .red{
    color: red;
  }
  input{
    margin-bottom: 3px;
  }
}

.form_question{
  .info{
    float: left;
    clear: both;
    font-weight: normal;
  }

  .heading{
    span{
      float: left;
      clear: both;
    }

  }

  .red{
    color: red;
  }
}