<%= render '/layouts/basic_styles.html.erb' %>
<style type="text/css">
  .pp_details{
    display: none !important; 
  }
</style>

<div class="buy_page exhibition">
  <%# render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
      
    <div class="modal">
  <input class="modal-open" id="modal-1" type="checkbox"  hidden>
  <div class="modal-wrap" aria-hidden="false" role="dialog">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>Уведомление </h2>
        <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
      </div>
      <div class="modal-body">
        <p>Ваш запрос отправлен</p>
      </div>
    
        </div>
      </div>
    </div>

    <div class="project_heading">
      <h1 class="h1">Наши выставки</h1>
    </div>

    <div class="events_list" id="main">
      <ul class="gallery clearfix">

        <li>
          <img class="avatar" src="#">
          <span class="title">Название выставки</span>
          <a class="more" href="#event1" rel="prettyPhoto[inline]">подробнее</a>
        </li>
        <li>
          <img class="avatar" src="#">
          <span class="title">Название выставки</span>
          <a class="more" href="#event1" rel="prettyPhoto[inline]">подробнее</a>
        </li>
         <li>
          <img class="avatar" src="#">
          <span class="title">Название выставки</span>
          <a class="more" href="#event1" rel="prettyPhoto[inline]">подробнее</a>
        </li>
        <li>
          <img class="avatar" src="#">
          <span class="title">Название выставки</span>
          <a class="more" href="#event1" rel="prettyPhoto[inline]">подробнее</a>
        </li>
        <li>
          <img class="avatar" src="#">
          <span class="title">Название выставки</span>
          <a class="more" href="#event1" rel="prettyPhoto[inline]">подробнее</a>
        </li>
        <li>
          <img class="avatar" src="#">
          <span class="title">Название выставки</span>
          <a class="more" href="#event1" rel="prettyPhoto[inline]">подробнее</a>
        </li>

      </ul>
    </div>

     <div id="event1" style="display:none;">
        <p>
        В нашем каталоге более 200 объектов недвижимости на побережье Средиземного 
        и Эгейского морей. </p>
        <p>
        У нас собраны лучшие предложения по недвижимости, расположенной в таких 
        известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья, 
        Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры, 
        престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и 
        дома. </p>
        <p>
        Почему это выгодно? Наше агентство представляет собственные проекты жилых комплексов, 
        застройщиком которых выступает крупная строительная компания «Торослар 
        Констракшн» (Toroslar Construction).  Это позволяет нам предлагать недвижимость по очень выгодным ценам от 
        застройщиков и на гибких условиях, включая возможности инвестирования на этапе 
        строительства.  Мы напрямую сотрудничаем с рядом ведущих строительных компаний 
        Анатолийского региона, с которыми придерживаемся политики «выгодно и удобно для 
        клиента». </p>
         <p>
        Почему быстро? Наша команда профессионалов имеет большой опыт работы на рынке недвижимости 
        Турции. Мы обеспечим законное, надежное и быстрое оформление документов на Вашу 
        недвижимость в Турции</p>
      </div>

      <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $("area[rel^='prettyPhoto']").prettyPhoto();
        
        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: false});
        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
    
        $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
          custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
          changepicturecallback: function(){ initialize(); }
        });

        $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
          custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
          changepicturecallback: function(){ _bsap.exec(); }
        });
      });
      </script>

    <div class="text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    


  </div>
<%= render 'layouts/sidebar' %>
<div class="clear"></div>

</div>
