<div class="col-md-5">
                        <h4>В стоимость входят</h4>
                        <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                            <li><i class="im im-wi-fi"></i><span class="booking-item-feature-title">Кондиционеры</span>
                            </li>
                            <li><i class="im im-parking"></i><span class="booking-item-feature-title">Бытовая техниа</span>
                            </li>
                            <li><i class="im im-air"></i><span class="booking-item-feature-title">Электронагреватель воды</span>
                            </li>
                            <li><i class="im im-air"></i><span class="booking-item-feature-title">Мебель</span>
                            </li>
                            <li><i class="im im-air"></i><span class="booking-item-feature-title">Оформление ТАПУ</span>
                            </li>
                            <li><i class="im im-air"></i><span class="booking-item-feature-title">Оформление ИСКАНА</span>
                            </li>
                        </ul>
                    </div>