<ul class="breadcrumb">
                <li><a href="index.html">Главная</a>
                </li>
                <li><a href="#">Все проекты</a>
                </li>
                <li class="active">Проект 1</li>
            </ul>