<ul class="breadcrumb">
                <li><a href="#">Главная</a>
                </li>
                <li><a href="/projects">Все проекты</a>
                </li>
                <li><a href="<%= project_category_path(@project.project_category) %>"><%= @project.project_category.title %></a>
                </li>
                <li class="active"><%= @project.name %>(<%= @project_attacments.count %>)</li>
            </ul>