<div class="col-md-7">
                  <ul class="list-inline">
                        <li><a href="#small-dialog" data-effect="mfp-zoom-out" class="btn btn-primary btn-lg popup-text">Узнать больше</a>
                        <div id="small-dialog" class="mfp-with-anim mfp-hide mfp-dialog">
                        <h4>Dialog example</h4>
                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</p>
                    </div>
                        </li>
                        <li><a class="btn btn-success btn-lg">Посмотреть</a>
                        </li>
                    </ul>     
                </div>