<header class="booking-item-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="lh1em">Midtown Manhattan Oversized</h2>
                            <!-- 
                            <p class="lh1em text-small"><i class="fa fa-map-marker"></i> 6782 Sarasea Circle, Siesta Key, FL 34242</p>
                            <ul class="list list-inline text-small">
                                <li><a href="#"><i class="fa fa-envelope"></i> Agent E-mail</a>
                                </li>
                                <li><a href="#"><i class="fa fa-home"></i> Agent Website</a>
                                </li>
                                <li><i class="fa fa-phone"></i> +1 (520) 466-9587</li>
                            </ul>
                            -->
                        </div>
                        <div class="col-md-4">
                            <p class="booking-item-header-price"> от <span class="text-lg">$250</span> до <span class="text-lg">$250</span></p>
                        </div>
                    </div>
                </header>