<div class="col-md-5">
                       
                        <ul class="booking-list">
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Вид сделки:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">продажа</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Район:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Макмутлар</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Тип объекта:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">Квартира и пентхаус</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Комнат:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">1 + 1,2 </h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Площадь:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">216 м2</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            Состоаяние:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">строящийся объект</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                             <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            до центра:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">200 м.</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                           до аэропорта:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">30 км</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="booking-item booking-item-small">
                                    <div class="row">
                                        <div class="col-xs-4">
                                           год построки:
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title">09.2000</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
 
                        </ul>
                    </div>