<ul class="list-inline">
                                <li>
                                    <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icon/print"><i class="fa fa-print"></i> Распечатать</a>
                                    
                                </li>
                                <li>
                                    <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icon/share"><i class="fa fa-mail-forward"></i> Отправить по e-mail</a>
                                </li>
                                <li>
                                    здесь ссылки
                                </li>
                             </ul> 