<h4>Задайте свой вопрос</h4>
<form>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" type="email"  />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="password"  />
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" type="password"  />
    </div>
    <div class="form-group">
        <label>Skype</label>
        <input class="form-control" type="password" />
    </div>
    <div class="form-group">
        <label>Сообщение</label>
        <input class="form-control" type="text"  />
    </div>
    <input class="btn btn-primary" type="submit" value="Отправить" />
</form>