<div class="form_question">
<div class="heading">
  <span>Задайте свой вопрос</span>
</div>
  <form action="zz">

    <div class="fields_left">
      <div class="form_group">
        <label > Имя</label>
        <input type="text" >
      </div>
      <div class="form_group">
        <label > Телефон</label>
        <input type="text" >
      </div>
    </div>
    <div class="fields_right">
      <div class="form_group">
        <label > Email</label>
        <input type="text" >
      </div>
      <div class="form_group">
        <label > Skype</label>
        <input type="text" >
      </div>
    </div>
    <div class="msg">
        <label > Сообщение</label>
        <input type="text-area" >
    </div>
    <div class="button">
        <input type="submit" class="sub" value="Отправить" >
    </div>
  </form>
</div>