<style type="text/css">
.distnce_list ul li {
font-size: 10px;
}
.distnce_list ul li .value{
font-size: 10px;
float: left;
clear: both;
padding-left: 10px;
font-family: Verdana;
}
input.home.synch-icon + label > span.labelauty-checked-image{
display: none;
}
.filter_label_holder{
margin-left: 0 !important;
}
.input.home:not(:checked):not([disabled]) + label:hover{
background-color: none !important;
}
.has-tooltip {
cursor: auto;
font-size: 17px;
}

.types_list ul li{
  display: inline-table;
  margin-right:  7px;
  font-weight: normal;
  font-family: Verdana;
}

.types_list ul li label{
    float: left;
    line-height: 9px;
    padding: 6px 11px;
}

.types_list ul li label span{
  margin-left: 0 !important;
}

input.labelauty.synch-icon + label > span.labelauty-checked-image{
  display: none !important;
}
input.type_project.synch-icon + label{
  background-color: #00aeac;
  color: white;

}

input.type_project.synch-icon + label > span.labelauty-unchecked-image{
  background-image: none;
  background-color: red; 
  display: none !important;
  width: 44px;
}
input.type_project:not(:checked):not([disabled]) + label{
  background-image: none;
  background-color: red; 
  color: black;
    float: left;
    line-height: 9px;
    padding: 6px 7px;
}
input.type_project:not(:checked):not([disabled]) + label{
  background-image: none;
    background: white none repeat scroll 0 0;
   padding: 6px 0.5px;
   width: 44px;
    box-shadow: 1px 1px 3px 0 #a4a4a4;
    color: #4d4d4d;
}
.types_list .second{
  margin-top: 4px;
}
.types_list .second li{
   margin-right: 0px;
}
.types_list .second li label {
  padding: 6px 7px;
}
input.second:not(:checked):not([disabled]) + label{
  padding: 6px 7px;
}

.second li .labelauty-unchecked{
  padding: 0px 6.5px;
}
input.sity:not(:checked):not([disabled]) + label{
  padding: 0 !important;
}
.sities_list .labelauty-unchecked-image {
  display: none !important;
}
.sities_list{
  
}
.sities_list .ul {
  margin-right:3px;
   font-size: 13px !important;
}
.sities_list .labelauty-unchecked {
  width: 55px;
}
.sities_list .labelauty-checked {
  width: 60px;
  text-align: left !important;
  float: left;
}
.input.labelauty + label > span.labelauty-unchecked, input.labelauty + label > span.labelauty-checked{
  line-height: 16px;
}
.sities_list label{
  float: left;
  width: 32% !important;
  float: left;
  text-align: left !important;
}
input.big_mg + label{
   margin-right: 3px;
}
.sities_list label{
  width: 32% !important;
}

input.sity:checked + label{
  padding: 0 !important;
  line-height: 16px !important;
}

input.sity + label > span.labelauty-unchecked-image + span.labelauty-unchecked, input.sity + label > span.labelauty-checked-image + span .abelauty-checked{
  padding: 0 !important;
  line-height: 16px !important;
}
.sities_list .labelauty-unchecked{
  line-height: 16px !important;
}
.filter_section.type{
  line-height: 16px !important;
}
.sities_list label {
  margin-bottom: 10px;
}
input.home:checked + label{
    background-color: none;
}

</style>
<div class="buy_filter">
  <form action="#"  method="GET">
    <%# render 'filter' %>
    <div class="filter_section type">
      
      <h2><span class="has-tooltip" title="">Тип недвижимости</span></h2>
      <div class="types_list">
        <ul>
            <li>
                <input class="to-labelauty type_project synch-icon labelauty" type="checkbox"  id="a" style="display: none;"  data-labelauty="1+1">
            </li>
            <li>
                <input class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="b" style="display: none;"  data-labelauty="2+1|2+1">
            </li>
            <li>
                <input class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="c" style="display: none;"  data-labelauty="3+1|3+1">
            </li>
            <li>
                <input class="to-labelauty type_project synch-icon labelauty" type="checkbox" id="d" style="display: none;"  data-labelauty="4+1|4+1">
            </li>
        </ul>
         <ul class="second">
            <li>
                <input class="to-labelauty type_project big synch-icon labelauty" type="checkbox" id="e" style="display: none;"  data-labelauty="Студия">
            </li>
            <li>
                <input class="to-labelauty type_project big synch-icon labelauty" type="checkbox" id="f" style="display: none;"  data-labelauty="Пентхауз">
            </li>
            <li>
                <input class="to-labelauty type_project big synch-icon labelauty" type="checkbox" id="g" style="display: none;"  data-labelauty="Вилла">
            </li>
           
        </ul>
      </div>
      
    </div>
    <div class="filter_section type">
      
      <h2><span class="has-tooltip" title="">Расстояние до моря</span></h2>
      <div class="filter_label_holder clearfix">
        <div class="distnce_list">
          <ul>
            <li><input class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty3" style="display: none;"  data-labelauty="|">
            <span class="value">10м</span>
          </li>
          <li><input class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty4" style="display: none;"  data-labelauty="|">
          <span class="value">100м</span>
        </li>
        <li><input class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty5" style="display: none;"  data-labelauty="|">
        <span class="value">200м</span>
      </li>
      <li><input class="to-labelauty synch-icon home labelauty" type="checkbox" id="labelauty6" style="display: none;"  data-labelauty="|">
      <span class="value">400м</span>
    </li>
    <li><input class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty7" style="display: none;"  data-labelauty="|">
    <span class="value">500м</span>
  </li>
</ul>
<ul>
  <li><input class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty8" style="display: none;"  data-labelauty="|">
  <span class="value">800м</span>
</li>
<li><input class="to-labelauty synch-icon home labelauty" type="checkbox" id="labelauty9" style="display: none;"  data-labelauty="|">
<span class="value">1000м</span>
</li>
<li><input class="to-labelauty synch-icon home labelauty" type="checkbox"  id="labelauty11" style="display: none;"  data-labelauty="|">
<span class="value">1500м</span>
</li>
</ul>
</div>
</div>
</div>
 <div class="filter_section type">
      
      <h2><span class="has-tooltip" title="">Расположение</span></h2>
      <div class="sities_list">

           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity1" style="display: none;"  data-labelauty="Аланья">
            <input class="to-labelauty sity big_mg synch-icon labelauty" type="checkbox" id="sity2" style="display: none;"  data-labelauty="Анталья">
             <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity3" style="display: none;"  data-labelauty="Газипаша">
              <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity4" style="display: none;"  data-labelauty="Бордум">
               <input class="to-labelauty sity big_mg synch-icon labelauty" type="checkbox" id="sity5" style="display: none;"  data-labelauty="Белек">
                <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity6" style="display: none;"  data-labelauty="Авсаллар">

           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity7" style="display: none;"  data-labelauty="Кемер">
           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity8" style="display: none;"  data-labelauty="Кестель">
           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity9" style="display: none;"  data-labelauty="Махмутлар">

            <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity10" style="display: none;"  data-labelauty="Оба">
           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity11" style="display: none;"  data-labelauty="Конаклы">
           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity12" style="display: none;"  data-labelauty="Каргыджак">

           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity13" style="display: none;"  data-labelauty="Каш">
           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity14" style="display: none;"  data-labelauty="Сиде">
           <input class="to-labelauty sity synch-icon labelauty" type="checkbox" id="sity15" style="display: none;"  data-labelauty="Тосмур">     

      </div>
      
    </div>
<div class="filter_section city">
<span class="btn btn_input big">ИСКАТЬ<i class="input"><input type="submit"/></i></span>
</div>
</form>
</div>