  <style type="text/css">
  .distnce_list ul li {
      font-size: 10px;

    }
    .distnce_list ul li .value{
      font-size: 10px;
      float: left;
      clear: both;
      padding-left: 10px; 
    }
    input.labelauty.synch-icon + label > span.labelauty-checked-image{
      display: none;
    }
    .filter_label_holder{
      margin-left: 0 !important;
    }

    .input.labelauty:not(:checked):not([disabled]) + label:hover{
      background-color: none !important;
    }
  </style>
  <div class="buy_filter">
    <form action="#"  method="GET">
      <%# render 'filter' %>
      <div class="filter_section type">
        
        <h2><span class="has-tooltip" title="">Тип недвижимости</span></h2>
        <div class="filter_label_holder clearfix">
          <input class="to-labelauty synch-icon labelauty" type="checkbox" checked="none" id="labelauty" style="display: none;"  data-labelauty="no|yes">
          <input class="to-labelauty synch-icon labelauty" type="checkbox" checked="none" id="labelauty2" style="display: none;"  data-labelauty="|">
        </div>
      </div>
      <div class="filter_section type">
        
        <h2><span class="has-tooltip" title="">Расстояние до моря</span></h2>
        <div class="filter_label_holder clearfix">
          <div class="distnce_list">
            <ul>
              <li><input class="to-labelauty synch-icon home labelauty" type="checkbox" checked="none" id="labelauty3" style="display: none;"  data-labelauty="|">
             <span class="value">10м</span> 
            </li>
            <li><input class="to-labelauty synch-icon home labelauty" type="checkbox" checked="none" id="labelauty4" style="display: none;"  data-labelauty="|">
            <span class="value">100м</span> 
            </li>
            <li><input class="to-labelauty synch-icon home labelauty" type="checkbox" checked="none" id="labelauty5" style="display: none;"  data-labelauty="|">
            <span class="value">200м</span> 
            </li>
            <li><input class="to-labelauty synch-icon home labelauty" type="checkbox" checked="none" id="labelauty6" style="display: none;"  data-labelauty="|">
            <span class="value">300м</span> 
            </li>
            <li><input class="to-labelauty synch-icon home labelauty" type="checkbox" checked="none" id="labelauty7" style="display: none;"  data-labelauty="|">
            <span class="value">400м</span> 
            </li>
          </ul>
        </div>
        
        
      </div>
    </div>
    <div class="filter_section city">
      <span class="btn btn_input big">ИСКАТЬ<i class="input"><input type="submit"/></i></span>
    </div>
  </form>
</div>