<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="/src/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/src/jquery-labelauty.js"></script>

  <link rel="stylesheet" href="/src/jquery-labelauty.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/src/lby-main.css" type="text/css" media="screen" charset="utf-8">

  <link type='text/css' href='/css/demo.css' rel='stylesheet' media='screen' />
  <link type='text/css' href='/css/basic.css' rel='stylesheet' media='screen' />

   <link href="/owl.carousel.css" rel="stylesheet">
   <link href="/owl.theme.css" rel="stylesheet">

  <link rel="stylesheet" href="prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
  <script src="jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    

</head>

<body>
<!-- BEGIN wrapper-->
<div class="wrapper min_width">

<div class="header clearfix no-print main_nav" >


<div class="before_nav">
  
  <div class="other">
    <span class="mail"><img src="/src/email_open.png">info@alanypropetries.com</span>
    <span class="skype_in_head"><img src="/src/skype.png">alanypropetries</span>  
  </div>
  <div class="phones">
    <span class= "phone">Телефон для всех регионов России: +7 123 456 78</span>
    <span class= "phone">Телефон в Турции: +7 123 456 78</span>
    <span class= "phone">Телефон в Москве: +7 123 456 78</span>
  </div>
</div>

<nav role='navigation'>
<a title="Alanya Properties" class="logo" href="/"><img src="/logo.png" alt="Alanya Properties Logo">
</a>
  <ul>
      <li><a href="#">Главная</a></li>
    <li><a href="#">Наши проекты</a>
      <ul>
        <li><a href="">Emerald Dreams</a></li>
        <li><a href="">Emerald Towers</a></li>
        <li><a href="">Emerald Park</a></li>
        <li><a href="">Emerald Residence</a></li>
      </ul>
    </li>
    <li><a href="#">Вся недвижимость</a>
      <ul>
        <li><a href="">Недвижимость в Алании</a></li>
        <li><a class="sub" href="">Центр Алании</a></li>
         <li><a class="sub" href="">Авсаллар</a></li>
         <li><a class="sub" href="">Махмутлар</a></li>
         <li><a class="sub" href="">Конаклы</a></li>
         <li><a class="sub" href="">Оба</a></li>
         <li><a class="sub" href="">Тосмур</a></li>
         <li><a class="sub" href="">Кестель</a></li>
         <li><a class="sub" href="">Каргыджак</a></li>
         <li><a class="sub" href="">Газипаша</a></li>
         <li><a href="">Недвижимость в Анталии</a></li> 
          <li><a href="">Недвижимость в Сиде</a></li> 
           <li><a href="">Недвижимость в Кемере</a></li> 
            <li><a href="">Недвижимость в Белеке</a></li> 
             <li><a href="">Недвижимость в Каш</a></li>
              <li><a href="">Недвижимость в Бордуме</a></li>
      </ul>
    </li>
    <li><a href="#">О Компании</a>
      <ul>
        <li><a href="">Наша история</a></li>
        <li><a href="">Наша команда</a></li>
        <li><a href="">Наши партнеры</a></li>
        <li><a href="">Выставки</a></li>
        <li><a href="">Отзывы клиентов</a></li>
      </ul>
    </li>
    <li><a href="#">Услуги</a></li>
    <li><a href="#">Бесплатный тур</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</nav>  

</div>
  <!-- END header-->

  <!-- BEGIN content-->
  <div class="content ">
    <%= yield %>
  </div>
  <!-- END content-->

  <!-- BEGIN footer-->
  <div class="footer">
    <div class="row">
      <ul>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
        <li><a href="#">Квартиры в Турции</a></li>
      </ul>
    </div>
    <div class="row">
      <ul>
        <li class="last"><a href="#">Квартиры в Турции</a></li>
        <li class="last"><a href="#">Квартиры в Турции</a></li>
        <li class="last"><a href="#">Квартиры в Турции</a></li>
        <li class="last"><a href="#">Квартиры в Турции</a></li>
        <li class="last"><a href="#">Квартиры в Турции</a></li>
      </ul>
    </div>
  </div>
  <!-- END footer-->
</div>
<!-- END wrapper-->


<table class="popup_table hide">
  <tr>
    <td class="pt_td">
      <!-- !!! popup_leaveorder -->
      <!--<script>visible_popup       = 'popup';</script>-->
      <div class="popup clearfix">
        Popup
        <i class="close"></i>
      </div>
      <div class="back none" id="back"></div>

    </td>
  </tr>
</table>


    
    <script src="/owl.carousel.js"></script>

    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({

      navigation : true,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem : true

      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

      });
    });


    </script>

</body>
</html>
